 {% set price = 0 %}
 {% set number = 0 %}
 <ul class="list-group">
     {% for elem in productCart %}
        {% for cart in elem.cart %}
            {% if cart.id == app.user.cart.id %}
                {% for product in elem.product %}
                    {% set price = price + product.price %}
                    {% set number = number+1 %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    <li class="list-group-item">price : {{ price }}</li>
    <li class="list-group-item">number : {{ number }}</li>
</ul>