{% extends "StoreCoreBundle::layout.html.twig" %}
{% block body %}
    <div id="header" class="jumbotron">
        <p> user name :{{ user.username }}</p>
        <p>email :{{ user.email }}</p>
    </div>
{% endblock %}